{% block footer %}
<footer id="main-footer">

    <a id="chevron-link" href="/">
        <img id="logo-chevron" alt="Conduit logo chevron" src="/images/conduit-palette2.png">
    </a>


    <p>Copyright &copy; <script>document.write(new Date().getFullYear().toString())</script> {{data.texts.copyright}}</p>

    <div class="spacer"></div>

    <nav>
        <ul>
            <li><a href="{{data.links.github}}"><img alt="GitHub" src="/images/GitHub-Mark-120px.png"></a></li>
            <!--li><a href="{{data.links.forum}}">Forum</a></li-->
            <li><a href="{{data.links.discord}}"><img alt="Discord" src="/images/Discord-Logo-Black.svg"></a></li>
        </ul>
    </nav>
</footer>
{% endblock %}