<div class="quickstart">
    <div class="topline"></div>
    <div class="content">
        <h2>Ready? Get up and running in just a few minutes.</h2>
        <br>
        <div class="qs-grid">
            <div class="light-block">
                <div class="platform-windows">
                    {% code bash %}
                    :! (as administrator)
                    choco install dart-sdk
                    pub global activate conduit
                    conduit create my_project
                    cd my_project
                    conduit serve
                    {% endcode %}
                </div>
                <div class="platform-macos">
                    {% code bash %}
                    brew tap dart-lang/dart
                    brew install dart
                    pub global activate conduit
                    conduit create my_project
                    cd my_project
                    conduit serve
                    {% endcode %}
                </div>
                <div class="platform-linux">
                    {% code bash %}
                    sudo sh -c 'wget -qO- https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
                    sudo sh -c 'wget -qO- https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
                    sudo apt-get update
                    sudo apt-get install dart
                    echo 'export PATH="$PATH:/usr/lib/dart/bin"' >> ~/.profile
                    pub global activate conduit
                    conduit create my_project
                    cd my_project
                    conduit serve
                    {% endcode %}
                </div>
                <div class="shadow"></div>
            </div>


            <div>
                <a href="/start" class="button accent">See the full getting started guide</a>
                <p>Join our <a href="{{data.links.discord}}">Discord</a> if you get stuck</p>
            </div>
        </div>
    </div>

</div>