.code-grid {
  display: grid;
  grid-template-columns: auto max(48%, 530px);
  text-align: left;
  line-height: 1.4em;

  > :nth-child(1) {
    margin-right: calc(30px + 3vw);

    @include media("width<1000px") {
      margin-right: 0;
    }

    .content-narrow {
      margin-right: 0;
    }
  }

  > :nth-child(2) {
    margin-left: 3vw;

    @include media("width<1000px") {
      margin-left: 0;
    }
    .content-narrow {
      margin-left: 0;
    }

    @include media("width<550px") {
      font-size: 2.8vw;
    }
  }

  @include media("width<1000px") {
    grid-template-columns: auto;
  }

}

article .code-grid {
  grid-template-columns: auto;
}
