header#main-header {
  width: 100%;
  background: var(--color-neutral);
  display: flex;
  padding: 6px 0;
  place-items: center;

  img#logo {
    margin-left: calc(4.8vw - 8px);
    width: 240px;

    @include media("width<700px") {
      width: 40vw;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  nav {
    margin-right: calc(3vw + 2px - 0.8em);

    > ul {
      list-style-type: none;
      display: flex;
      place-items: center;

      @include media("width<700px") {
        padding-left: 0.5em;
      }

      li {
        margin: 0 calc(0.4em + 1.9vw);
      }

      a:not(.button) {
        text-decoration: none;
        color: var(--color-text-body);
        transition: color 0.2s;

        &:hover {
          color: var(--color-primary);
        }
      }

      @include media("width<700px") {
        .button {
          display: none;
        }

        a:not(.button) {
          font-size: calc(10px + 1vw);
        }
      }
    }
  }
}