$color-neutral: #ffffff;
$color-background: #fafafa;
$color-primary: #ff5604;
$color-accent: #ffeb00;
$color-secondary: #183055;

$color-neutral-hover: $color-neutral;
$color-primary-hover: lighten(desaturate($color-primary, 10%), 10%);
$color-accent-hover: lighten(desaturate($color-accent, 10%), 10%);

$color-text-header: #171717;
$color-text-caption: #646464;
$color-text-body: #404040;
$color-text-highlight: $color-primary;
$color-link: $color-text-highlight;
$color-link-visited: darken($color-link, 10%);
$color-link-accent: $color-accent;
$color-text-button-neutral: $color-text-highlight;
$color-text-button-primary: $color-neutral;
$color-text-button-accent: $color-secondary;