@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

$font-family-header: "Poppins";
$font-weight-header: 600;
$font-weight-header-sm: 500;

$font-family-body: "Nunito Sans";
$font-weight-body: 400;
$font-size-h1: 2em;

@mixin font-body($weight: $font-weight-body) {
  font-family: $font-family-body;
  font-weight: $weight;
}