.row {
  display: flex;
}

// Margin classes
@for $i from 1 through 8 {
  .mr-#{$i} {
    margin-right: $i * 5px;
  }

  .ml-#{$i} {
    margin-left: $i * 5px;
  }

  .mx-#{$i} {
    margin-left: $i * 5px;
    margin-right: $i * 5px;
  }

  .mt-#{$i} {
    margin-top: $i * 5px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 5px;
  }

  .my-#{$i} {
    margin-top: $i * 5px;
    margin-bottom: $i * 5px;
  }
}

.side {
  width: 55%;

  @include media("width<900px") {
    width: 100%;
  }
}

.rside {
  width: 30%;
  position: absolute;
  right: 9%;
  margin-top: calc(35px - 2vw);

  img {
    width: 100%;
    max-height: 400px;
    opacity: 0.8;
  }

  @include media("width<900px") {
    display: none;
  }
}

ol {
  padding-inline-start: 1em;
}

.block-list li {
  margin: 3em 0;
}
